@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/extend.scss";

.title-row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $filter_row_gray;
  padding-bottom: 15px;
  .text-col {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .txt-title {
      color: $text_black;
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 38px;
    }
    .btn-upload {
      background: transparent
        linear-gradient(110deg, #e17cfd 0%, #7166f9 51%, #4cd7f6 100%) 0% 0%
        no-repeat padding-box;
      color: $white;
      border-radius: 12px;
      border: none;
      padding: 5px 22px;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 0px 13px 12px #7166f926;
    }
  }
}

.content-row {
  display: flex;
  .left-col {
    margin-right: 45px;
    .boxes-row {
      display: block;
      margin-top: 40px;
      .box {
        display: flex;
        align-items: center;
        width: 320px;
        border-radius: 15px;
        background-color: $dashboard-background-box;
        padding: 30px 25px;
        &.second-box {
          margin-top: 25px;
        }
        .icon-wrapper {
          width: 65px;
          height: 65px;
          border-radius: 10px;
          background-color: $new_project_upload_border;
          text-align: center;
          i {
            position: relative;
            top: 15px;
            background: -webkit-linear-gradient(
              180deg,
              #e17cfd 0%,
              #7166f9 51%,
              #4cd7f6 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 31px;
          }
        }
        .details {
          margin-left: 16px;
          .value {
            color: $text_black;
            font-size: 2.1rem;
            font-weight: bold;
            line-height: 40px;
          }
          .description {
            font-size: 0.9rem;
            color: $txt_type_gray;
            font-weight: 400;
          }
        }
      }
    }
  }
  .right-col {
    margin-top: 50px;
    width: 100%;
    .first-row {
      width: 100%;
      font-size: 10px;
      display: flex;
      padding-bottom: 5px;
      border-bottom: 1px solid $filter_row_gray;
      .icon {
        margin: 0px 5px 0px 5px;
        color: $left-border;
        font-size: 12px;
      }
      .text {
        color: $txt_type_gray;
        font-weight: 500;
      }
    }
    .table-row {
      height: calc(100vh - 465px);
      overflow: auto;
      padding-right: 5px;
      &::-webkit-scrollbar {
        width: 3px;
        border-radius: 16px;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $left-border;
        border-radius: 16px;
      }
      &::-webkit-scrollbar-track {
        background-color: $scroll_bar_gray_light;
        border-radius: 16px;
      }
      table {
        position: relative;
        tbody {
          tr {
            &.first {
            }
            td {
              padding: 20px 10px;
              width: 200px;
              .txt-black {
                color: $text_black;
                font-size: 16px;
                font-weight: 500;
                &.bold {
                  font-weight: 800;
                  margin-right: 50px;
                }
              }
              .row-icon {
                display: flex;
                align-items: center;
                max-width: fit-content;
                &.delete {
                  justify-content: flex-end;
                  max-width: 100%;
                  margin-right: 30px;
                  i {
                    color: $time_gray;
                    cursor: pointer;
                    font-size: 26px;
                    position: relative;
                    top: 4px;
                  }
                }
                .icon-col {
                  .icon-wrapper {
                    background-color: $new_project_upload_border;
                    height: 45px;
                    width: 45px;
                    border-radius: 8px;
                    text-align: center;
                    i {
                      position: relative;
                      font-size: 22px;
                      top: 10px;
                      color: $theme_purple;
                    }
                  }
                }
                .text-col {
                  padding-left: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.progress-wrapper {
  position: absolute;
  top: 40px;
  width: 260px;
  right: 40px;
  display: flex;
  align-items: center;
  .lds-ring {
    @extend %lds-ring;
  }
  .progress-col {
    width: calc(100% - 32px);
    .task-text {
      font-size: 11px;
      color: $txt_type_gray;
    }
  }
  .progress {
    width: 100%;
    height: 5px;
    background-color: $left-border;
    border-radius: 20px;
    .progress-bar {
      background-color: $theme_green;
      border-radius: 20px;
    }
  }
}
