$theme_pink: #e17cfd;
$theme_purple: #7166f9;
$theme_blue: #4cd7f6;
$theme_green: #6bc371;
$white: #ffffff;
$box_shadow_black: #15133339;
$text_purple_light: #dbd8ff;
$text_purple-dark: #6b67a2;
$text_black: #2e384d;
$btn_gray: #f3f5f9;
$btn_blue: #2f80ed;
$btn_black: #222222;
$border_gray: #e2e4ea;
$txt-gray: #a4a7ae;
$border_top_purple: #e5e3ff;
$txt_type_gray: #6c7485;
$card_gray: #eaedf4;
$sidebar_black: #0b0b0b;
$sidebar_bg: #211e39;
$full_black: #000000;
$sidebar_right_text: #6c698d;
$sidebar_left_text: #a4a6af;
$sidebar_search: #02090b;
$sidebar_selected: #332e69;
$sidebar_searchtxt: #504e64;
$sidebar_dots: #d3d0fe;
$sidebar_border: #403b64;
$filter_row_gray: #ebebeb;
$tool-bar-border-blue: #2b313f;
$accept_green: #6bc371;
$fixing_green: #459d4b;
$fixed_orange: #ffa31a;
$reject_red: #ef5050;
$progress_blue: #589bfc;
$time_gray: #d0d0d0;
$frame_black: #1c1c1c;
$new_project_border: #eceef2;
$new_project_placeholder: #6c7485;
$new_project_star: #b8b8b8;
$new_project_upload_border: #edebff;
$attr_rect_gray: #2e2d2d;
$main-background: #1b202b;
$label_box_black: #110e27;
$lbl_card_gray: #191818;
$sub_lbl_purple: #322d57;
$toggle_text: #beb9fd;
$toggle_btn_background: #29246a;
$dashboard-background-box: #f7f6fb;
$left-border: #dbdfe8;
$scroll_bar_gray_light: #fafafa;
$box_shadow: #ef50505f;
$tool_hover: #191739;
$tooltip_text: #c2cadb;
$theme_pink_hover: #8a419f;
$theme_purple_hover: #5c52dd;
$theme_blue_hover: #1fa3c1;
$background_black: #2b2664;
$nav-hover-back: #252052;
$sidebar_menu_purple:#221E48;
$unread_comments: #FF1A9E;
$comment_resolved_bg: #0C190D;
$disabled_border: #463fa0;
$disabled_icon: #5b51d6;
$attributes_background: #e9ecf2;
$value_background: #dfe3eb;
$search_placeholder: #6b6983;
$version_background: #1A172C;
$version_selected: #2A2655;
$task_count: #707070;
$theme_pink_light: #D8BCE0;
$theme_blue_light: #BFDFE6;
$theme_pink_bg: #FBEBFF;
$theme_blue_bg: #E8FBFF;
