@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/extend.scss";

.content-col {
  padding: 0px 20px 0 20px;
  .border-top {
    height: 1px;
    width: 100%;
    border-top: 1px solid $filter_row_gray;
  }
  .stage-create {
    padding-top: 70px;
  }
  .stage-preparing {
    height: 854px;
    padding-top: 88px;
  }
  .stage-success {
    height: 770px;
    padding-top: 174px;
  }
  .new-project-panel {
    background-color: $white;
    border-radius: 20px;
    border: 1px solid #eceef2;
    margin-top: 18px;
    padding-bottom: 54px;
    height: 780px;
    .count {
      color: $theme_purple;
      text-align: center;
      font-size: 54px;
      margin-bottom: 30px;
    }
    .title {
      text-align: center;
      font-size: 27px;
      margin-bottom: 34px;
    }
    .inner {
      width: 325px;
      margin: 0 auto;
      height: 100%;
      .inner-title {
        color: $text_black;
        font-size: 12px;
        font-weight: 500;
        float: left;

        &.p-b-10 {
          padding-bottom: 10px;
        }
        span {
          color: $new_project_star;
        }
      }
      .help {
        position: relative;
        left: 212px;
        top: 47px;
        font-size: 18px;
        color: $new_project_star;
      }
      .form-control,
      .btn {
        border: 1px solid $new_project_upload_border;
        border-radius: 12px;
        height: 40px;
        width: 100%;
        padding-left: 22px;
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 24px;

        &.error {
          border: 1px solid $reject_red !important;
        }

        &.b-h {
          height: 42px;
        }
        .btn-text {
          text-align: left;
          font-size: 15px;
          padding-top: 3px;

          span {
            &.s-fps {
              position: relative;
              top: 3px;
            }
          }
          i {
            color: $theme_purple;
            font-size: 26px;
            position: relative;
            right: 3px;
            top: -3px;
          }
          .dropdown {
            float: right;
            font-size: 24px;
            color: $txt_type_gray;
          }
        }
      }
      .btn-project-type {
        .btn-text {
          span {
            position: relative;
            top: -9px;
            left: 12px;
            font-size: 14px;
          }
          .dropdown {
            float: right;
            font-size: 24px;
            // margin-top: 6px;
          }
        }
      }
      input:focus,
      .btn:focus {
        border-color: $theme_purple;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
      input::placeholder,
      input:-ms-input-placeholder,
      input::-ms-input-placeholder {
        color: $new_project_placeholder;
      }
      .form-control:disabled {
        background-color: $white;
      }
      .emptyName {
        border-color: $reject_red !important;
      }
      .dropdown-menu {
        width: 315px;
        box-shadow: 0px 13px 12px rgba(0, 0, 0, 0.41);
        border-radius: 15px;
        border: none;
        padding: 10px 5px 20px 5px;
        height: 200px;
        overflow-y: auto;
        li {
          //   height: 50px;
          font-size: 18px;
          padding: 0 10px;
          width: 100%;
          margin-bottom: 10px;
          display: flex;
          .left {
            width: 30px !important;
          }
          .text {
            width: calc(100% - 30px);
            font-size: 14px;
            color: $text_black;
          }
          .btn-text {
            color: $text_black;

            i {
              font-size: 26px;
              color: $new_project_star;
            }

            .tick {
              float: right;
              font-size: 22px;
            }
          }
          .btn-text-project {
            span {
              position: relative;
              left: 17px;
              top: -9px;
              font-size: 14px;
            }
          }
          .btn-border-bottom {
            border-bottom: 1px solid $btn_gray;
          }
          .btn-fps-padding {
            padding-bottom: 18px;
          }
          .active {
            i {
              color: $theme_purple;
            }
            .tick {
              color: $theme_blue;
            }
          }
        }
      }
      .dropdown-item:focus,
      .dropdown-item:hover {
        background-color: transparent;
      }
    }
    .center {
      text-align: center;
    }
    .main-btn {
      margin: 0 auto;
      width: 185px;
      height: 40px;
      margin-top: 5px;
      border-radius: 13px;
      font-size: 14px;
      font-weight: 600;

      &.m-t-10 {
        margin-top: 10px;
      }
    }
    .annimate {
      margin: auto;
      display: block;
    }
    .status {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 13px;
      font-size: 24px;
    }
    .messege {
      text-align: center;
      font-size: 24px;
      margin-top: -24px;
      margin-bottom: 17px;
    }
    .loader {
      width: 410px;
      height: 24px;
      margin: 0 auto;
      background-color: $btn_gray;
      border-radius: 15px;
    }
    .task-created {
      text-align: center;
      color: $txt_type_gray;
      font-size: 16px;
      margin-top: 22px;
      margin-bottom: 228px;
    }
  }
}
.ci {
  position: absolute;
  right: 52px;
  font-size: 22px;
  top: 44px;
  cursor: pointer;
  color: $new_project_star;
}

.checkbox-round {
  height: 16px;
  width: 16px;
  border: 1px solid $tooltip_text;
  background-color: $white;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 12px;
  margin-top: 1px;
}
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: -22px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.checkbox-round:checked {
  background-color: $theme_purple;
  border: none;
  ~ .checkmark {
    &:after {
      display: block;
    }
  }
}
.project-label-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .project-label {
    background-color: $new_project_upload_border;
    font-size: 12px;
    padding: 7px 12px;
    border-radius: 12px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    .icon {
      position: relative;
      top: 1px;
      margin-left: 3px;
      color: $toggle_text;
      cursor: pointer;
    }
  }
}
