@import "../../../../assets/scss/colors.scss";

.modal-container {
  .header {
    font-size: 20px;
    color: $sidebar_black;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $filter_row_gray;
    padding-bottom: 10px;
    .close{
      cursor: pointer;
      color: $new_project_star;
    }
  }
  .alert-icon{
    font-size: 48px;
    color: $reject_red;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
  }
  .description {
    font-size: 16px;
    color: $new_project_placeholder;
    font-weight: 400;
    text-align: center;
  }
  .btn-col-sub {
      text-align: center;
      margin-top: 28px;

      .ok-btn{
          background-color: $theme_purple;
          color: $white;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          border: none;
          padding: 10px 45px;
          border-radius: 12px;
          &:focus-visible{
            outline: none;
          }
      }
  }
}
