@import "../../../../assets/scss/colors.scss";

.modal-container {
  .title-row {
    padding-bottom: 8px;
    .title-black {
      color: $text_black;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .i-close {
    font-size: 25px;
    color: $new_project_star;
    float: right;
  }
  .title-border {
    border-bottom: 1px solid $filter_row_gray;
  }

  .content-area {
    margin-top: 40px;
    margin-bottom: 60px;
    .top-row {
      font-size: 18px;
      font-weight: 500;
    }

    .step {
      margin-top: 30px;

      .row-one {
        display: flex;
      }

      .row-two {
        margin-top: 10px;

        .command-line {
          margin-left: 40px;

          .command-row {
            display: flex;
          }

          .bullet {
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background: $theme_purple;
            align-self: center;
          }
        }
      }

      .button-row {
        padding-top: 15px;
      }
    }

    .btn-export {
      color: $text_black;
      cursor: pointer;
      background: $white;
      border: 1px solid $theme_purple;
      border-radius: 8px;
      font-size: 14px;
      padding: 6px 12px;
      margin-left: 40px;

      i {
        color: $theme_purple;
        position: relative;
        top: 2px;
      }

      button:focus {
        outline-style: none;
      }

      &.copy-btn {
        margin: 10px 0px 10px 15px;
      }
    }
    .command-textBox {
      border: 1px solid $theme_purple;
      border-radius: 8px;
      padding: 5px 12px;
      width: 80%;
    }

    .step-number {
      background: $new_project_upload_border;
      color: $theme_purple;
      border-radius: 5px;
      width: 20px;
      height: 20px;
      padding: 15px;

      .number {
        position: relative;
        font-size: 14px;
        top: -10px;
        left: -3px;
      }
    }

    .instruction {
      font-size: 16px;
      color: $txt_type_gray;
      margin-left: 10px;
      align-self: center;
      white-space: nowrap;
      width: 80%;

      &.sec-step {
        width: 600px;
        white-space: normal;
        overflow: visible;
      }
    }
  }
}
